h1{
  margin: 40px 0;
}
h3{
  padding: 15px 0;
}

img{
  height: 200px;
  vertical-align: 15px;
}


.row{
  height: 100%;
  text-align:center;
}
/* .left, .right{
  padding: 0 50px;
} */
