
h1{
  margin: 40px 0;
}
h3, p{
  padding: 15px 0;
}

img{
  height: 150px;
  vertical-align: 15px;
}


.row{
  text-align:center;
}
.box{
  min-height: 430px;
  text-align:center;
  padding: 0 20px;
  margin: auto;
}
#img-blue{
  height: 180px;
  background-color: #428bca;
  border-radius: 60%;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  body{
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {

  .float-none-md{
    float: none;
  }
}
